/*This file will be used for all the indiv project files, Making code more reusable*/


.ProjectHeaderBar {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: light-dark(#A4C3FF, #2C2C2C);
  overflow: hidden;
}

.ProjectHeaderBar a {
    display: inline-block;
    text-align: center;
    width: 100%;
    color: light-dark(#020061, #e7e7e7);
    padding: 14px 16px;
    text-decoration: none;
    font-size: clamp(20px, 1.5vw, 20px)
}

.ProjectHeaderBar a:hover {
    background-color: #ddd;
    color: black;
}



.StandardTextSize {
    font-size: 0.75rem;
}

.NormalText {
    text-align: center;
}

.SubTitles {
    text-align: center;
    font-size: 1rem;
    font-weight: -20;
    text-decoration: underline;
}

.DiagramSizes {
    max-width: 60%;
    height: auto;
}

.DiagramPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.Box {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
    border-radius: 3.125rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: light-dark(#A4C3FF, #0A2A43);
    border: 0.18rem solid light-dark(#ffffff, #000000);
    padding: 0.125rem 1.25rem;
    margin: 0.625rem auto;
    box-shadow: 0 0.25rem 0.625rem light-dark(#000000, #2C2C2C);
    max-width: 70%
}

.virtualValues {
    max-width: 20%;
    height: auto;
}

.virtualPlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rm 0;
}

ul {
    text-align: left;
    margin: 0 auto;
    padding-left: 1.2em;
    max-width: 400px;
    font-size: 1.2rem;
}

li {
    margin-bottom: 6px;
    font-size: 1.2rem;

}